In [1]:
import duckboat as uck
import pandas as pd
import seaborn as sns

In [2]:
t = uck.Database(
    old = uck.Table('old.csv'),
    final = uck.Table('final.csv'),
    fallback = uck.Table('fallback.csv'),
).do(
    """
    select *, 'old' as algo from old
    union all
    select *, 'final' as algo from final
    union all
    select *, 'fallback' as algo from fallback
    """
)
t

┌───────────────┬──────────────┬──────────┐
│     name      │ microseconds │   algo   │
│    varchar    │    double    │ varchar  │
├───────────────┼──────────────┼──────────┤
│ 2_8           │       979.43 │ old      │
│ 8_14          │     1354.988 │ old      │
│ 8_14_null_2   │      748.978 │ old      │
│ 8_14_null_10  │     1234.543 │ old      │
│ 8_14_null_100 │     1317.698 │ old      │
│ 2_8           │     1003.892 │ old      │
│ 8_14          │     1349.913 │ old      │
│ 8_14_null_2   │      746.612 │ old      │
│ 8_14_null_10  │     1233.247 │ old      │
│ 8_14_null_100 │     1317.503 │ old      │
│  ·            │         ·    │  ·       │
│  ·            │         ·    │  ·       │
│  ·            │         ·    │  ·       │
│ 2_8           │      403.196 │ fallback │
│ 8_14          │      845.458 │ fallback │
│ 8_14_null_2   │      495.243 │ fallback │
│ 8_14_null_10  │       809.72 │ fallback │
│ 8_14_null_100 │       841.95 │ fallback │
│ 2_8           │      391.509 │ fallback │
│ 8_14          │      845.598 │ fallback │
│ 8_14_null_2   │      495.366 │ fallback │
│ 8_14_null_10  │      809.809 │ fallback │
│ 8_14_null_100 │      841.832 │ fallback │
├───────────────┴──────────────┴──────────┤
│ 3590 rows (20 shown)          3 columns │
└─────────────────────────────────────────┘

In [3]:
t.do(
"""
select
      name
    , min(microseconds)
where
    algo = 'final'
group by
    1
order by
    1
"""
)

┌───────────────┬─────────────────────┐
│     name      │ min("microseconds") │
│    varchar    │       double        │
├───────────────┼─────────────────────┤
│ 2_8           │              145.86 │
│ 8_14          │             145.692 │
│ 8_14_null_10  │             158.055 │
│ 8_14_null_100 │             149.781 │
│ 8_14_null_2   │             145.267 │
└───────────────┴─────────────────────┘

In [3]:
t.do(
"""
select
      name
    , min(microseconds)
where
    algo = 'final'
group by
    1
order by
    1
"""
)

┌───────────────┬─────────────────────┐
│     name      │ min("microseconds") │
│    varchar    │       double        │
├───────────────┼─────────────────────┤
│ 2_8           │             145.904 │
│ 8_14          │             145.666 │
│ 8_14_null_10  │              158.04 │
│ 8_14_null_100 │             149.827 │
│ 8_14_null_2   │              145.24 │
└───────────────┴─────────────────────┘

In [4]:
t.do(
"""
select
      name
    , min(microseconds)
where
    algo = 'final'
group by
    1
order by
    1
"""
)

┌───────────────┬─────────────────────┐
│     name      │ min("microseconds") │
│    varchar    │       double        │
├───────────────┼─────────────────────┤
│ 2_8           │             145.811 │
│ 8_14          │             145.701 │
│ 8_14_null_10  │             158.117 │
│ 8_14_null_100 │             150.027 │
│ 8_14_null_2   │             145.261 │
└───────────────┴─────────────────────┘